.ManipulateButton {
    display: flex;
    justify-content: left;
    gap: 15px;
    padding-left: 50px;
}

p {
    padding-left: 30px;
}

p1 {
    padding-left: 132px;
}

h2 {
    text-align: center;
}

.CreateUserNameContainer {
    display: flex;
    align-items: center;
  justify-content: center;
  padding: 15px;
}

.CreatePasswordContainer {
    display: flex;
  justify-content: center;
  align-items: center;
}

.EnterBirthDate {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.EnterAge {
    display: flex;
  justify-content: center;
  align-items: center;
}

.UserEmail {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.ParentalEmail {
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.BO {
       padding-left: 475px;
    }

.temporaryProfilePic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.uBio {
    display: flex;
}

.bioButton {
    padding-left: 887px;
}

hr.divider {
    border: none;
    height: 5px;
    background-color: #3498db;
    border-radius: 5px;
}

ul.funkoList {
    display: flex;
    list-style-type: none;
    gap: 100px;
    font-weight: bold;
    flex-wrap: wrap;
}

ul.complCol {
    display: flex;
    list-style-type: none;
    gap: 100px;
    font-weight: bold;
    padding-top: 30px;
    flex-wrap: wrap;
    flex-basis: auto;
}

.hr {
    flex-basis: 100%;
    margin: 5px 0;
}

.showAll {
    display: flex;
    justify-content: flex-end;
}

.tradeableShowAll {
    display: flex;
    justify-content: flex-end;
}

.user-list {
    body { font-family: sans-serif; padding: 20px; }
        .user-item { margin: 5px 0; font-size: 18px; }
        .dot { color: #28a745; margin-right: 8px; }
}

.tradeButton {
    position: fixed;
    bottom: 0;
    right: 0;
}

#complCol li {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}

#complCol li.selected {
  background-color: lightblue;
  border: 2px solid blue;
}
